// * Typography
$root-fontSize: 62.5%;

// ! COLORS

$backslate: black;

$title-col: darkgrey;
$text-col: lightgrey;

// ? P&M

$y-mar: 75%;
$titles-mar: 65%;
$par-mar: 50%;

$but-pad: 5pix 10pix;

$btmmar: 30px;
