// * Typography
$root-fontSize: 62.5%;

// ! COLORS

$backslate: black;

$title-col: darkgrey;
$text-col: lightgrey;

// ? P&M

$y-mar: 90%;
$titles-mar: 65%, auto;
$par-mar: 50%, auto;

$but-pad: 5pix 10pix;
