@use "./variables" as v;
@use "./mixins" as m;

@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Gajraj+One&display=swap");

* {
  // font-size: v.$root-fontSize;
  box-sizing: border-box;
  margin: 0;
}

body {
  background-color: v.$backslate;
  color: v.$text-col;
  font-family: "Comfortaa", cursive;
  // width: 80%;
  margin: auto;
  overflow-x: hidden;
}

.banner {
  position: relative;
  height: 100vh;
  width: 100vw;
  background-image: url(/images/backgroundcentered.png),
    linear-gradient(transparent, black);

  background-repeat: no-repeat;

  background-size: cover;
  background-position: center;

  h1 {
    margin-bottom: v.$btmmar;
    font-family: v.$titlesfont;
    letter-spacing: 5px;
    font-size: 150px;
    @include m.titlegrad;
  }

  marquee {
    font-family: v.$titlesfont;
    font-size: 100px;
    color: v.$title-col;
    margin-bottom: v.$btmmar;
  }

  // #fade {
  //   position: sticky;
  //   top: 1000%;
  //   width: 100vw;
  //   height: 500px;
  //   background-image: linear-gradient(transparent, black);
  // }
}

#bgfade {
  background-image: linear-gradient(v.$backslate, #353c4c);
}

//         NAVBAR
nav {
  position: -webkit-sticky;
  background-color: transparent;
  position: sticky;
  top: 0;
  padding: 10px 20px;
  width: 100%;
  z-index: 10;

  ul {
    padding: 0;
    margin: 0;
  }
  li {
    padding-left: 30px;
    list-style-type: none;
    i {
      font-size: 3rem;
      &:hover {
        color: #03c4a1;
      }
    }
  }
  a {
    font-size: 20px;
    text-decoration: none;
    color: v.$title-col;
    &:hover {
      cursor: pointer;
      color: fuchsia;
    }
  }
  span {
    margin: 0;
    a {
      font-family: v.$titlesfont;
      letter-spacing: 7px;
      font-size: 50px;
      @include m.titlegrad;
    }
  }
}

// SECTION 1 BIO

#sectbio {
  width: 75%;
}
#bio {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 100px 0;
  margin: 0 auto;
  font-size: 20px;

  h2 {
    font-family: v.$titlesfont;
    letter-spacing: 1px;
    font-size: 50px;
    margin-right: 100px;
    @include m.titlegrad;
    text-align: center;
  }
  p {
    font-size: 20px;
    text-align: justify;
  }
}

// SECTION 2 CARDS

.cardtitles {
  font-family: "Gajraj One", cursive;
  font-size: 125px;
  @include m.titlegrad;
}

#sectcards {
  width: v.$y-mar;
  margin: auto;
  i {
    font-size: 200px;
    background: -webkit-linear-gradient(white, #333);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
.flip-card {
  background-color: transparent;
  width: 100%;
  height: 300px;
  perspective: 1000px;
  #cardtxt {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    p {
      font-size: 30px;
    }
  }
}

.flip-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back01,
.flip-card-back02,
.flip-card-back03,
.flip-card-back04 {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: transparent;
  color: black;
}

.flip-card-back01,
.flip-card-back02,
.flip-card-back03,
.flip-card-back04 {
  color: white;
  transform: rotateY(180deg);
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.flip-card-back01 {
  background-color: fuchsia;
  object-position: 100% 70%;
}
.flip-card-back02 {
  background-color: green;
}
.flip-card-back03 {
  background-color: #03c4a1;
}
.flip-card-back04 {
  background-color: #150485;
}

// SECTION 3 - CAROUSEL
// #sectcar {
//   margin-bottom: v.$btmmar;
// }

// .carousel-item {
//   width: 500px;
//   height: 700px;
// }

// ! HARD SKILLS
#hardskills {
  h2 {
    font-family: v.$titlesfont;
    @include m.titlegrad;
    font-size: 50px;
    letter-spacing: 1px;
    margin: 50px 0;
  }
}

.rolling {
  overflow: hidden;
  display: flex;
  height: 250px;
  width: 100%;
  margin: 0 auto;
  div {
    height: 400px;
    width: 300px;

    animation: slide 15s linear infinite;
  }
  img {
    height: 250px;
    min-width: 100px;
  }
}

@keyframes slide {
  0% {
    transform: translate3d(0, 0, 0);
  }
  100% {
    transform: translate3d(-1500px, 0, 0);
  }
}

.rolling 

// SECTION 4 - CONTACT

#contacttitles {
  font-family: "Gajraj One", cursive;
  letter-spacing: 2px;
  font-size: 25px;
  @include m.titlegrad;
}

#sectcontact {
  padding: 100px 0;
  i {
    font-size: 3rem;
    @include m.titlegrad;
  }

  h2 {
    font-family: v.$titlesfont;
    @include m.titlegrad;
    font-size: 50px;
    letter-spacing: 1px;
    margin-bottom: 100px;
  }
}
#contactarea {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.contact-card {
  background-color: transparent;
  width: 100%;
  height: 100px;
  perspective: 1000px;

  p {
    font-size: 20px;
    color: white;
  }
}

.contact-card-inner {
  position: relative;
  width: 100%;
  height: 100%;
  text-align: center;
  transition: transform 0.6s;
  transform-style: preserve-3d;
}

.contact-card:hover .contact-card-inner {
  transform: rotateY(180deg);
}

.contact-card-front,
.contact-card-back {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.contact-card-front {
  background-color: transparent;
  color: black;
}

.contact-card-back {
  color: white;
  transform: rotateY(180deg);
  background-color: transparent;
}

// ! RESPONSIVE

// ?Mobile
@media only screen and (max-width: 425px) {
  .banner {
    height: 100vh;
    width: 100vw;
    h1,
    marquee {
      font-size: 100px;
    }
  }

  // !NAVBAR
  nav {
    padding: 2px 20px;

    li {
      padding-left: 7px;
      i {
        font-size: 18px;
      }
    }
    a {
      font-size: 18px;
    }
    span {
      a {
        letter-spacing: 2px;
        font-size: 25px;
      }
    }
  }
  // !BIO
  #sectbio {
    padding: 20px;
    height: 100vh;
    width: 90vw;
    margin: 0 auto;

    #bio {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    h2 {
      text-align: center;
      margin: 0;
      margin-bottom: 10px;
      font-size: 33px;
    }
    p {
      font-size: 17px;
    }
  }
  // !CARDS
  #sectcards {
    height: 80vh;
  }
  .cardtitles {
    font-size: 50px;
  }
  .flip-card {
    height: 20vh;
    #cardtxt {
      p {
        font-size: 18px;
      }
    }
  }

  // !HARDSKILLS
  #hardskills {
    height: 35vh;
    padding-top: 20px;

    h2 {
      font-size: 30px;
      margin: 0;
      margin-bottom: 20px;
    }
  }
  .rolling {
    .html,
    .css,
    .tw,
    .boots,
    .java {
      height: 25vh;
    }
    width: 100%;
    height: 25vh;
    img {
      height: 15vh;
      min-width: 100px;
    }
  }

  // !CONTACT
  #sectcontact {
    height: 40vh;
    padding: 0 20px;
    h2 {
      font-size: 30px;
      margin: 20px 0;
      margin-bottom: 20px;
      margin-top: 0;
    }
    i {
      font-size: 2rem;
      margin-bottom: 5px !important;
    }
    #contactarea {
      flex-direction: column;
    }
  }

  .contact-card {
    height: 10vh;
    width: 10vh;
    p {
      font-size: 15px;
    }
  }
}

// ?Tablet

@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .banner {
    height: 100vh;
    width: 100vw;
    h1,
    marquee {
      font-size: 100px;
    }
  }
  // !NAVBAR
  nav {
    padding: 2px 20px;

    li {
      padding-left: 10px;
      i {
        font-size: 30px;
      }
    }
    a {
      font-size: 30px;
    }
    span {
      a {
        letter-spacing: 2px;
        font-size: 35px;
      }
    }
  }
  // !BIO
  #sectbio {
    padding: 30px;
    height: 50vh;
    width: 100vw;
    margin: 0 auto;

    #bio {
      padding: 0;
      margin: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    h2 {
      text-align: center;
      margin: 0;
      margin-bottom: 10px;
      font-size: 50px;
    }
    p {
      font-size: 32px;
    }
  }
  #sectcards {
    height: 80vh;
  }
  .cardtitles {
    font-size: 100px;
  }
  .flip-card {
    height: 20vh;
    #cardtxt {
      p {
        font-size: 30px;
      }
    }
  }
  // !HARDSKILLS
  #hardskills {
    h2 {
      font-size: 50px;
      margin-bottom: 20px;
    }
  }
  #sectcontact {
    #contactarea {
      flex-direction: column;
    }
    .contact-card {
      height: 15vh;
      width: 15vh;
    }
  }
  .contact-card {
    p {
      font-size: 30px;
    }
  }
}
